html {
  height: 600px;
  width: 800px;
  background-color: rgb(1, 16, 138);
}

.container {
}

@font-face {
  font-family: Jeopardy;
  src: url(/font.ttf);
}

.text {
  text-align: center;
  font-size: 2.9em;
  text-shadow: 4px 4px 1px #000000;
  color: white;
  font-family: Jeopardy;
  /*src: url('font.ttf'); /* IE9 Compat Modes */
}

.textbox {
  width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}